.contents { 
	display: flex;
	width: 80%;
	margin: auto;

	.welcome { 
		display: flex;
		background-color: white;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
		height: 6vh;
		*{
			margin-left: 10px;
		}
		.welcome--logo {
			transform: scale(.7);
		}

		.welcome--subscribe-msg { 

		}

		#welcome--email {
			padding: 5px;
			font-size: .8em;
		}

		#welcome--submit { 
			
		} 
	}

@import "column1";
@import "column2";

}