.headertop { 
	display: flex;
	width: 80%;
	flex-basis: 80%;
	align-items: center;
	.logo {
		display: inline-flex;
		flex-grow: 1;
		transform: scale(.7);
	}

	.header--search-box {
		display: flex;
		border: solid 1px #DDD;
		flex-grow: 100;
		padding: $h-spacer;
		.header--search-icon { 
			margin: 10px;
			svg { 
			}
		}

		#header--input-search {
			width: 100%;
			border-style: none;
			margin-left: $local-margin-left;
			@include font-std-normal($fs-small);
		}
	
	}

	.header--dd-menu-main-btn {
		display: flex;
		flex-grow: 1;
		padding-left: $local-margin-left;
	}

	.header--dd-menu { 
		display: none;
		
		.dd-btns { 

			.btn-link { 

			}

			.dd-menu-btn1 { 

			}

			.dd-menu-btn2 { 

			}

			.dd-menu-btn3 { 

			}
		}

	}

	.header--btn-login { 
		display: flex;
		flex-grow: 1;
		@include font-std-normal($fs-small);
		margin-left: $h-spacer;
	}
}