.header {
	display: flex;
	
	.headertop { 
		display: flex;
		flex-grow: 1;
		justify-content: flex-start;
		align-items: center;
		.logo {
			display: inline-flex;
			background-image: url('http://fillmurray.com/40/40');
			height: 40px;
			width: 40px;
			margin: 6px;
			border-radius: 50px;
		}


		.header-search-icon { 
			display: flex;
			svg { 
			height: 60px;
			width: 60px;
			ml:8px;
				path { 

				}
			}
		}

		#header-input-search { 
			border-style: none;
			margin-left: 8px;
		}

		.dd-menu { 
			display: none;
			
			.dd-btns { 

				.dd-menu-btn1 { 

					.btn-link { 

					}
				}

				.dd-menu-btn2 { 

					.btn-link { 

					}
				}

				.dd-menu-btn3 { 

					.btn-link { 

					}
				}
			}

			.btn-login { 

			}
		}
	}

	.headerbttm { 
		display: flex;
		.mainnav { 

			.main-nav-btns { 

				.nav-btn1 { 

					.btn-link { 

					}
				}

				.nav-btn2 { 

					.btn-link { 

					}
				}

				.nav-btn3 { 

					.btn-link { 

					}
				}
			}
		}
	}
}

