// colors

$color-bgd: #F9F9F9;
$color-submit: #DA552F;
$color-submit-hover: #DA7937;
$color-grey-text: #ADADAD;

// font-families

$base-font: 'Montserrat', sans-serif;

// font-sizes

$fs-large: .9em;
$fs-normal: .7em;
$fs-small: .65em;

// font-styles

@mixin font-std-strong($fontsize) {
	font-size: $fontsize;
	font-style: bold;
	color: black;
}

@mixin font-std-normal($fontsize) {
	font-size: $fontsize;
	font-style: normal;
	color: $color-grey-text;
}

// misc variables

$h-spacer: 6px;

* {
	list-style-type: none;
	text-decoration: none;
	color: #ADADAD;
	margin:0px;
	padding:0px;
}

body {
	background: $color-bgd;
	height:100vh;
}

.body-contents {
	// background: #fff;
}

// imports

@import "header";

.contents--container{
	// display: flex;
	// justify-content: center;
	// width: 80%;
	@import "contents";
}