// colors

$color-bgd: #f9f9f9;
$color-submit: #DA552F;
$color-submit-hover: #da7937;

// font-families

$base-font: 'Montserrat', sans-serif;

// font-sizes

$fs-large: 1.4em;
$fs-small: .8em;

// font-styles

$fs-small-strong: normal normal normal $fs-small bold $base-font;
$fs-large-strong: normal normal normal $fs-large bold $base-font;

* {
	list-style-type: none;
	text-decoration: none;
	font-family: $base-font;
	font-size: .98em;
	color: #ADADAD;
	margin:0px;
	padding:0px;
}

body {
	background: $color-bgd;
	height:100vh;
}

.body-contents {
	// background: #fff;
}

// imports
@import "header";
@import "contents";