.headerbttm { 
	display: flex;
	justify-content: center;
	width: 80%;

	.header--mainnav { 
		display: flex;
		flex-grow: 1;
		border-top: solid 1px #{$color-grey};

		.main-nav-btns {
			display: flex;
			flex-grow: 1;
			min-height: 6vh;
			
			.nav-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 5vw;
				height:100%;
				@include font-std-normal($fs-normal);
				&:hover {
					background: $color-bgd;
				}
			}

			.nav-btn-1 {
				background-clip: content-box;
				margin-right: $h-m-spacer;
				background-color: $color-bgd;
				
			}

			.nav-btn-2 { 

			}

			.nav-btn-3 { 

			}
		}
	}
}