.column1 { 
	display: flex;
	flex-grow: 3;
	margin-right: 1vw;
	height: $row;
	.row1-popular { 

		.item1 { 

		}

		.item2 { 

		}

		.item3 { 

		}
	}

	.row2-today { 

		.item1 { 

		}

		.item2 { 

		}

		.item3 { 

		}
	}
}