.column2 { 
	display: flex;
	flex-grow: 1;
	margin-left: 1vw;
	.kitbit { 
		display: flex;
		height: $row;
		
		.title { 

		}

		input { 

		}
	}

	.livechats { 

		.chatitems { 

			.item1 { 

			}

			.item2 { 

			}

			.item3 { 

			}

			.item4 { 

			}

			.item5 { 

			}

			.item6 { 

			}
		}
	}
}