* {
  margin: 0px;
  padding: 0px;
  color: #ADADAD;
  list-style-type: none;
  text-decoration: none; }

body {
  height: 100vh;
  background: #F9F9F9; }

.header {
  display: flex;
  flex-wrap: wrap;
  border-bottom: ridge 1px #DDD;
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.06); }
  .header .header-inner {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center; }
    .header .header-inner .headertop {
      display: flex;
      flex-basis: 80%;
      align-items: center;
      width: 80%; }
      .header .header-inner .headertop .logo {
        display: inline-flex;
        flex-grow: 1;
        transform: scale(0.7); }
      .header .header-inner .headertop .header--search {
        display: flex;
        flex-grow: 100;
        align-items: center;
        border: solid 1px #DDD; }
        .header .header-inner .headertop .header--search .header--search-icon {
          margin-left: 0.4vw;
          padding-top: 1vh;
          transform: scale(0.8); }
        .header .header-inner .headertop .header--search #header--search-inp {
          margin-left: h-m-spacer;
          padding: 1vh;
          width: 100%;
          border-style: none;
          color: color-grey-text;
          font-style: normal;
          font-size: 0.8em; }
      .header .header-inner .headertop .header--dd-menu-main-btn {
        display: flex;
        flex-grow: 1;
        padding-left: 8px; }
      .header .header-inner .headertop .header--dd-menu {
        display: none; }
      .header .header-inner .headertop .header--btn-login {
        display: flex;
        flex-grow: 1;
        margin-left: 0.4vw;
        color: color-grey-text;
        font-style: normal;
        font-size: 0.8em; }
    .header .header-inner .headerbttm {
      display: flex;
      justify-content: center;
      width: 80%; }
      .header .header-inner .headerbttm .header--mainnav {
        display: flex;
        flex-grow: 1;
        border-top: solid 1px #DDD; }
        .header .header-inner .headerbttm .header--mainnav .main-nav-btns {
          display: flex;
          flex-grow: 1;
          min-height: 6vh; }
          .header .header-inner .headerbttm .header--mainnav .main-nav-btns .nav-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 5vw;
            height: 100%;
            color: color-grey-text;
            font-style: normal;
            font-size: 0.9em; }
            .header .header-inner .headerbttm .header--mainnav .main-nav-btns .nav-btn:hover {
              background: #F9F9F9; }
          .header .header-inner .headerbttm .header--mainnav .main-nav-btns .nav-btn-1 {
            margin-right: 0.4vw;
            background-color: #F9F9F9;
            background-clip: content-box; }

.contents--container .contents {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .contents--container .contents .welcome {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    padding: 1vh;
    width: 80%;
    background-color: white; }
    .contents--container .contents .welcome .welcome--logo {
      transform: scale(0.7); }
    .contents--container .contents .welcome .welcome--msg {
      margin-left: 0.4vw;
      color: black;
      font-style: bold;
      font-size: 0.8em; }
    .contents--container .contents .welcome .welcome--subscribe-msg {
      margin-left: 0.4vw;
      color: color-grey-text;
      font-style: normal;
      font-size: 0.8em; }
    .contents--container .contents .welcome #welcome--email-inp {
      margin-left: 0.4vw;
      padding: 5px;
      border-style: solid;
      border-color: #F9F9F9;
      color: color-grey-text;
      font-style: normal;
      font-size: 0.8em; }
    .contents--container .contents .welcome #welcome--submit-btn {
      margin-left: 10px;
      padding: 4px;
      border-style: none;
      border-radius: 4px;
      background: #DA552F;
      color: white;
      color: white;
      font-style: normal;
      font-size: 0.8em;
      cursor: pointer; }
      .contents--container .contents .welcome #welcome--submit-btn:hover {
        background-color: #DA7937; }
    .contents--container .contents .welcome .welcome--close-btn {
      position: relative;
      flex-direction: column;
      margin-top: 30px;
      padding: 15px 0;
      text-align: center; }
      .contents--container .contents .welcome .welcome--close-btn .svg {
        color: #DDD; }
  .contents--container .contents .contents--columns {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4vh;
    width: 100%; }
    .contents--container .contents .contents--columns .column1 {
      display: flex;
      flex-grow: 3;
      margin-right: 1vw;
      height: 10vh; }
    .contents--container .contents .contents--columns .column2 {
      display: flex;
      flex-grow: 1;
      margin-left: 1vw; }
      .contents--container .contents .contents--columns .column2 .kitbit {
        display: flex;
        height: 10vh; }
