.headertop { 
	display: flex;
	width: 80%;
	flex-basis: 80%;
	align-items: center;
	.logo {
		display: inline-flex;
		flex-grow: 1;
		transform: scale(.7);
	}

	.header--search {
		display: flex;
		align-items: center;
		border: solid 1px #DDD;
		flex-grow: 100;
		// padding-left: $h-p-spacer;
		.header--search-icon { 
				margin-left: $h-m-spacer;
				padding-top: 1vh;
				transform: scale(0.8);
			svg {
			}
		}

		#header--search-inp {
			width: 100%;
			border-style: none;
			margin-left: #{h-m-spacer};
			padding: $v-p-spacer;
			@include font-std-normal($fs-small);
		}
	
	}

	.header--dd-menu-main-btn {
		display: flex;
		flex-grow: 1;
		padding-left: $local-margin-left;
	}

	.header--dd-menu { 
		display: none;
		
		.dd-btns { 

			.btn-link { 

			}

			.dd-menu-btn1 { 

			}

			.dd-menu-btn2 { 

			}

			.dd-menu-btn3 { 

			}
		}

	}

	.header--btn-login { 
		display: flex;
		flex-grow: 1;
		@include font-std-normal($fs-small);
		margin-left: $h-m-spacer;
	}
}